.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 70px auto;
}

.cars_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1px;
}
.footer{
  margin-top: 30px;
  display: flex;
  gap: 20px;
}